.description
{
    font-size: 100%;
    -webkit-box-sizing: content-box;
    font-family: 'Glyphicons Halflings';
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 5 2makpx 0 #000000;
 }